<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets\js">
    <link rel="stylesheet" href="assets\css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap-grid.css">
    <link rel="stylesheet" href="bootstrap-grid.css.map">
    <link rel="stylesheet" href="bootstrap.min.css.map">
    <link rel="stylesheet" href="bootstrap.bundle.js">
    <link rel="stylesheet" href="assets/css">
    <link rel="stylesheet" href="assets/js">

    <link rel="stylesheet" href="FeeFare\assets\css\bootstrap-grid.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets\css\bootstrap-grid.css">
    <link rel="stylesheet" href="assets\css\bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets\css\bootstrap.css">
</head>
<body>
    <header>WELCOME TO ST. LUKES BUSINESS SCHOOL</header>
    <h4>Please create your student profile here</h4>
</body>
</html>